/* input {
    margin-left: 16px;
} */


.float-wrapper-mid {
    margin-left: 25px;
    display:flex;
    align-items:flex-end;
}

#delayThreshold {
    margin-right: 20px;
    resize: none;
}

.btnhover:hover {
    color: brown;
}

.btnhover {
    cursor: pointer;
}

/* new adds */
#mySidebar {
    margin: 0;
    padding-left: 5px;
}

#mySidebar h1 {
    color: rgb(188, 119, 252);
}

.bigButton {
    background-color: #673dc3;
    color: ghostwhite;
    width: 100%;
    padding: 4px 0 4px 0;
    margin: 4px 0;
    border: none;
    font-size: 24px;
}

.bigButton:hover{
    background-color: #9484b6;
}

.timeline-buttons {
    display:flex;
    flex-direction: column;
    margin-top: 30px;
    bottom: 0;
    position: absolute;
    width: 100%;
}
    
.timer-wrapper {
    font-size: 34px;
    font-weight: 100;
    text-align: right;
    margin: 8px 30px;
}

.timer-wrapper p {
    font-size: 48px;
    font-weight: 100;
}