body {
  font-family: "Lato", sans-serif;
}

.container{
    border: none;
    width: 92vw;
    height: 94vh;
    margin-left: 8vw;
    display: block;
    transform: translateZ(0);
    -webkit-text-size-adjust: none;
}

#onboard{
    transition: margin-left .5s;
    padding: 16px;
    color: #6c6c6c;
    text-decoration: none;
}

a {
    transition: margin-left .5s;
    padding-left: 16px;
    color: #6c6c6c;
    text-decoration: none;
}

.page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -110vw;
    overflow-y: auto;
    z-index: 0;
    background-color: hsl(0,0%,100%);
  }
  
  .page:target {
    left: 0vw;
    z-index: 1;
  }

#main {
    transition: margin-left .5s; /* If you want a transition effect */
    color: #6c6c6c;
    /*background-color: transparent;*/
  }


.bottombar {
    border-top-style: solid;
    border-color: rgb(255, 76, 76);

    width: 100%;
    height: 0;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
    transition: 0.5s;
}
  
.bottombar a {
    padding: 25px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #6c6c6c;
    display: block;
    transition: 0.3s;
}

.sidebar {
  border-right-style: solid;
  border-color: rgb(255, 76, 76);

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 15px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #6c6c6c;
  display: block;
  transition: 0.3s;
}

.collapsible {
    background: none;
    border: none;
    padding: 8px 8px 15px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #6c6c6c;
    display: block;
    transition: 0.3s;
}

.collapsible:hover {
    color: #000000;
}

.collapsible:after {
    content: '\002B';
    font-weight: lighter;
    float: right;
    margin-left: 10px;
}
  
.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: auto;
    transition: max-height 0.2s ease-out;
}

.sidebar a:hover {
  color: #000000;
}

.sidebar .greeting {
    padding: 8px 8px 50px 32px;
    font-size: 30px;
}

.sidebar .closebtn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 36px;
  display: block;
}

.openbtn {
    background-image: url("../src/hamburger.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    left: 24px;
    width: 23px;
    top: 24px;
    height: 20px;
    border-style: none;
}

.openbottombtn {
    background-image: url("../src/hamburger.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    right: 24px;
    width: 23px;
    height: 20px;
    border-style: none;
    position: absolute;
    bottom: 24px;
}

#container {
  transition: margin-left .5s;
  padding: 16px;
}

.entryList {
    font: 20px Helvetica, sans-serif;
    color: #6c6c6c;
    padding-left: 30px;
}

button {
    outline: none;
}

#write {
    width: 92vw;
    height: 94vh;

    padding: 10px;
    font: 24px Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    line-height:40px;
    /*padding-left:130px;
    padding-right:100px;*/
    padding-top:5px;
    padding-bottom:34px;

    position: absolute;
    z-index: 2;
    margin: 0;
    color: #000000;
    background-color: transparent;
    overflow: auto;
    resize: none;
    transition: transform 1s;
    border: none;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    pointer-events: auto;
}

.markneg {
    border-radius: 3px;
    color: #6c6c6c;
    background-color: #e2c0c0;
    z-index: 15;
}

#write:focus {
    outline: none;
}


/* #Onboarding Screen */
    .parent { 
        text-align: center;
        display: grid; 
        padding: 16px 16px 16px 16px;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 1fr; 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
    }
    .good { grid-area: 1 / 1 / 2 / 2; } 
    .neutral { grid-area: 1 / 2 / 2 / 3; } 
    .bad { grid-area: 1 / 3 / 2 / 4; } 

	/* Welcome to Journal! */
	#welcome {
		/*font-family: Poligon;*/
		font-size: 60px;
		font-weight: 600;
		letter-spacing: 0px;
		color: rgb(79, 79, 79);
		vertical-align: middle;
		justify-content: flex-start;
		width: 100%;
		transform: translate(0px, 0px);
		line-height: 70.3125px;
		height: 54px;
		left: 179px;
        top: 140px;
        padding-top: 16px;
        padding-bottom: 16px;
	}
 
	/* How is your day today? */
	#query {
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 0px;
		color: rgb(67, 67, 67);
		vertical-align: middle;
		justify-content: flex-start;
		width: 100%;
		transform: translate(0px, 0px);
		line-height: 28.125px;
		height: 31px;
		left: 179px;
        top: 240px;
        padding: 16px 16px 16px 16px;
	}
 
	/* image 17 */
	#n21_29 {
		background-image: url("../src/smile.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 195px;
		width: 72px;
		top: 318px;
        height: 72px;
        margin-left: auto;
        margin-right: auto;
	}
 
	/* Good Day */
	#n21_30 {
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 0px;
		color: rgb(0, 0, 0);
		opacity: 0.4;
		vertical-align: middle;
		justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
	}
 
	/* Neutral Day */
	#n21_31 {
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 0px;
		color: rgb(0, 0, 0);
		opacity: 0.4;
		vertical-align: middle;
		justify-content: flex-start;
		margin-left: auto;
        margin-right: auto;
	}
 
	/* image 18 */
	#n21_32 {
		background-image: url("../src/neutral.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: 355px;
		width: 72px;
		top: 317px;
        height: 72px;
        margin-left: auto;
        margin-right: auto;
	}
 
    /* Bad Day */
    #n21_33 {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0px;
        color: rgb(0, 0, 0);
        opacity: 0.4;
        vertical-align: middle;
        justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
    }

    /* image 19 */
    #n21_34 {
        background-image: url("../src/frown.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 515px;
        width: 72px;
        top: 317px;
        height: 72px;
        margin-left: auto;
        margin-right: auto;
    }
        

