@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
}

#weather{
    width: 8vw;
    height: 8vw;
    padding: 5px;
    position: absolute;
    bottom: 0;
}

.box {
    float: left;
    position: relative;
    left: 0;
    height: 94vh;
    width: 8vw;
    margin-left: 0;
    display: block;
    background-color: #a34;
    -moz-transition: margin-left 2s;
    transition: margin-left 2s;
}
aside{
    position: relative;
}
aside ul li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #fff;
    list-style-type: none;
    text-align: center;
}
aside ul li a {
    width: 100%;
    height: 100%;
    text-decoration-line: none;
    color: #fff;
    display: block;
}

header {
    background: #d4d4d4;
    height: 6vh;
}

button{ 
    border: 0;
    height:5vh;
    text-decoration:none;
    background:#2f435e;
    color:#f2f2f2;
    
    padding: 1vh 5% 1vh 5%;
    font-size:16px;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-weight:bold;
    border-radius:3px;
    
    -webkit-transition:all linear 0.30s;
    -moz-transition:all linear 0.30s;
    transition:all linear 0.30s;
}

#buttons{
    float: left;
    width: 45%;
    height: 100%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

#tags{
    margin-left: 45%;
    width: 55%;
    height: 100%;
}

/*textarea:focus{
    outline: 0;
}*/
.container{
    width: 92vw;
    height: 94vh;
    margin-left: 8vw;
    display: block;
    transform: translateZ(0);
    -webkit-text-size-adjust: none;
}

.backdrop, #write {
    width: 92vw;
    height: 94vh;
}

.highlights, #write {
    padding: 10px;
    font: 24px Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    line-height:40px;
	padding-left:130px;
	padding-right:100px;
	padding-top:5px;
    padding-bottom:34px;
}

.backdrop {
    position: absolute;
    z-index: 1;
    border: 1px solid #6c6c6c;
    background-color: #fff;
    overflow: auto;
    pointer-events: none;
    transition: transform 1s;
}

.highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
}

#write {
    display: block;
    position: absolute;
    z-index: 2;
    margin: 0;
    border: 2px solid #808080;
    border-radius: 0;
    color: #000000;
    background-color: transparent;
    overflow: auto;
    resize: none;
    transition: transform 1s;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url("../src/title.png"), url("../src/redlines.png"), url("../src/lines.png"), url("../src/paper.png");
	background-repeat:no-repeat, repeat-y, repeat, repeat;
    opacity: 0.5;
    pointer-events: auto;
}

#popup {
    padding: 5px;
    font: 20px Helvetica, sans-serif;
    font-weight: 100;
    display: none;
    position: absolute;
    margin: 0;
    border-radius: 0;
    height: auto;
    width: 8vw;
    z-index: 3;
    color: white;
    background-color:#808080;
}

marksld {
    border-radius: 3px;
    color: transparent;
    background-color: #dcb1e5;
    z-index: 15;
}

markblm {
    border-radius: 3px;
    color: transparent;
    background-color: #b1d1e5;
    z-index: 15;
}

markfrt {
    border-radius: 3px;
    color: transparent;
    background-color: #dee5b1;
    z-index: 15;
}

markspl {
    border-radius: 3px;
    color: transparent;
    background-color: #e2c0c0;
    z-index: 15;
}

marknut {
    border-radius: 3px;
    color: transparent;
    background-color: transparent;
}

marktmp {
    color: #cecece;
}

#write:focus {
    outline: none;
}
		
.shows {
    position: absolute;
    left: 0;
    width: 50%;
    font-size: 20px;
    height: 70px;
    text-align: center;
    background-color: #2AC845;
    color: #fff;
    line-height: 70px;
}

.nones {
    position: absolute;
    right: 0;
    width: 50%;
    font-size: 20px;
    height: 70px;
    text-align: center;
    background-color: #DD524D;
    color: #fff;
    line-height: 70px;
}

.dislog {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    background-color: #000;
    opacity: 0.8;
}

.list {
    position: relative;
    width: 100%;
    height: 70px;
}

.dis_cont {
    position: relative;
    border-radius: 10px;
    top: 25%;
    width: 25%;
    display: inline-block;
    height: 160px;
    background-color: rgb(196, 196, 196);
}

.dis_bott {
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #ddd;
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
    bottom: 0px;
}

.left_name {
    position: absolute;
    border-bottom-left-radius: 10px;
    text-align: center;
    left: 0px;
    width: 33%;
    height: 69px;
    line-height: 70px;
    background-color: #fff;
}

.middle_name {
    position: absolute;
    text-align: center;
    border-bottom-right-radius: 10px;
    right: 32%;
    left: 34%;
    width: 32%;
    height: 69px;
    line-height: 70px;
    background-color: #fff;
}

.right_name {
    position: absolute;
    text-align: center;
    border-bottom-right-radius: 10px;
    right: 0px;
    width: 33%;
    height: 69px;
    line-height: 70px;
    background-color: #fff;
}

.cont_dis {
    position: relative;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height: 90px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    padding: 20px 20px;
}

.close_window {
    position: relative;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height: 8%;
    font-size: 20px;
    margin-left: 93%;
    margin-top: 1px;
    display: flex;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
}

und_pos { 
    position: relative;
    text-decoration: underline; 
    text-decoration-color: #40862d;
    z-index: 10;
}

und_neg { 
    position: relative;
    text-decoration: underline; 
    text-decoration-color: #af5050;
    z-index: 10;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: right; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: #d9d9d9; /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
  
  /* Modal Content */
  .modal-content {
    z-index: 100; /* Sit on top */
    position: fixed;
    bottom: 0;
    background-color: #FDFDFD;
    width: 80%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 25px;
    margin: auto;
    opacity: 1;
    display: none;
  }
  
  /* The Close Button */
  .close {
    color: #BABABA;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    background-color: #FAF9F7  ;
    padding: 0px 10vh;
  }
  
  .modal-body {
  background-color: #FAF9F7  ;
    padding: 0px 10vh;
  }
  
  .modal-footer {
    background-color: #5cb85c;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  .strikethrough {
    text-decoration: line-through red;
  }