.note-header {
  /* border: 2px solid var(--highlight); */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.note-title {
  background-color: unset;
  border: none;
  font-size: 32px;
  flex: 1;
  /* border: 1px solid cyan; */
  font-family: inherit;
  /* margin-left: 36px; */
  color: rgb(74, 74, 74);
}

.note-title:focus {
  outline: none;
}

.notifiers {
  display: flex;
  height: 20px;
  justify-content: space-between;
}

.notifiers p {
  font-size: small;
  color: rgba(18, 18, 18, 0.506);
  margin: 0;
}

.notifiers > * {
  border: 1px solid blue;
  font-size: medium;
  /* padding-right: 12px; */
  width: 120px;
}

.note-date {
  font-size: medium;
}

.cm-highlight {
  background-color: rgb(224, 191, 255);
}

.cm-atomic {
  color: grey;
  border-radius: 15%;
  width: fit-content;
  cursor: default;
  user-select: none;
  padding-left: 3px;
  padding-right: 3px;
}
